

*.painter_lock

*.spp

UnityProject/Assets/MayaProject/sourceimages/3dPaintTextures/.autosave/

*.png.tx

*.swatch

UnityProject/Assets/MayaProject/sourceimages/HDRthing_Raw_ACEScg.hdr.tx

UnityProject/Assets/MayaProject/movies/

UnityProject/Assets/MayaProject/sound/

*.hiplc

*.sbs

UnityProject/Assets/Houdini/backup/

*.hdalc

UnityProject/Assets/MayaProject/autosave/

UnityProject/Assets/MayaProject/assets/CHARACTERS/-rigged walkers and stuff/Tom/Other thingies/

UnityProject/Assets/MayaProject/sourceimages/lakeside_night_4k_Raw_ACEScg.exr.tx

UnityProject/Assets/MayaProject/sourceimages/lake_pier_4k.exr

UnityProject/Assets/MayaProject/sourceimages/lakeside_4k.exr
