

*.painter_lock

*.spp

UnityProject/Assets/MayaProject/sourceimages/3dPaintTextures/.autosave/

*.png.tx

*.swatch

UnityProject/Assets/MayaProject/movies/

UnityProject/Assets/MayaProject/sound/

*.hiplc

*.sbs

UnityProject/Assets/Houdini/backup/

*.hdalc

UnityProject/Assets/MayaProject/autosave/

UnityProject/Assets/MayaProject/assets/CHARACTERS/-rigged walkers and stuff/Tom/Other thingies/


*.swatches
*.exr.tx
*.hdr.tx

UnityProject/Assets/Houdini/-objects/ForMaya/Trees/Many With Leaves/
